################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web.Debug.config
/Web.config
/playingWithGrids.html
/packages.config
/node_modules/moment
/node.js
/package.json
/package.json
